/.env
/.idea
/vendor
.DS_Store

package-lock.json
node_modules

/docker/data

/storage/backups
/storage/composer-backups
/storage/config-backups
/storage/logs
/storage/runtime

/web/cpresources
/web/assets
