<footer>
    <p>
        <strong>Craft starter</strong> by <a href="https://github.com/dzetah">dzetah</a>.
        The source code is licensed under the <a href="http://opensource.org/licenses/mit-license.php">MIT</a> license.
    </p>
</footer>
